

<div class="nav-sm admin-navSm"  >

    <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="menu-icon">&#9776; </span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h1 style="padding: 10px; font-size: larger;">Health <span id="care" style="color: rgb(0, 200, 255); margin-left: 2rem;"> Care</span></h1>

        <ul>
            <li class="active">
              <a href="/admin/dashbord" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/admin/profile/page">
                My Profile
              </a>
            </li>
            <li id="p">
              <a href="/admin/view/register/patients"> Reg patients</a>
            </li>
            <li>
              <a href="/admin/view/register/staffs">Doctors/Lab Tech

              </a>
            </li>
            <li>
              <a href="#">Appointments</a>
            </li>
            <li id="">
              <a href="/admin/view/patients/test/results">patients Records</a>
            </li>
            <li id="card">
              <a href="/admin/view/purchase/card">Purchased Cards</a>
            </li>
           
          </ul>
      </div>
</div>
<nav class="navbar navbar-expand-lg admin-navBig ">
    <div class="container">
        <h1 style="padding: 10px; font-size: larger;">Health <span id="care" style="color: rgb(6, 250, 169);"> Care</span></h1>
        <ul class="justify-content-center li-center ">
            <!-- <li class="nav-item"> <a href="#">Services</a>  </li>
            <li class="nav-item"> <a href="#">About Us</a>  </li>
            -->
         

        </ul>
        <!-- <img src="logo" alt="logo"> -->
        <ul class="nav justify-content-end">
         
            <li class="nav-item" id="log-out" style="color: red; font-size: large;font-weight: 600; text-decoration: none;">
                <a href="" style="text-decoration: none;color: red;">Log Out</a>
            </li>
        </ul>
    </div>
</nav>