<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 sidebar admin-sidebar">
            <!-- including admin sidebar -->
            <ul class="nav flex-column cont">
              <li class="active">
                <a href="/admin/dashbord" aria-current="page">Home</a>
              </li>
              <li>
                <a href="/admin/profile/page">
                  My Profile
                </a>
              </li>
              <li id="p">
                <a href="/admin/view/register/patients"> Reg patients</a>
              </li>
              <li>
                <a href="/admin/view/register/staffs">Doctors/Lab Tech

                </a>
              </li>
              <li class="appointent">
                <a href="#">Booked Appointments</a>
              </li>
              <li id="">
                <a href="/admin/view/patients/test/results">patients Records</a>
              </li>
              <li id="card">
                <a href="/admin/view/purchase/card">Purchased Cards</a>
              </li>
             
            </ul>
            <!-- including admin sidebar -->
        </div>
        