<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-md-3 col-lg-2 sidebar">
          <div id="user">
              
          </div>
          <!-- including sidebar -->
          <ul class="nav flex-column cont" style="color: black;">
            <li class="active">
              <a href="/labTechs/dashbord" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/labTechs/profile/page">
                My Profile
              </a>
            </li>
            <li class="appointment">
              <a href="#">Booked Appointment</a>
            </li>
            <li>
              <a href="/labTechs/patients/test/result/records/page"> Test Results Data
        
              </a>
            </li>
            <li>
              <a href="/patients/card/recod">patients Records</a>
            </li>
        </ul> 
      </div>