<div class="container  ">
    <div class="row justify-content-center">
        <div class="col-md-6 doc-form "id="doc-form" style="display: none;  margin-top: 1rem;">
            <div class="card mt-5 login form"  >
                <div class="card-header">
                    <h3 class="text-center"> Reg Specilalization</h3>
                </div>
                <div class="card-body">
                    <form action="/doc/reg/specialty" method="post" style="color: darkorange;">
                        <div class="form-group">
                       
                    
                        </div>
                        <div class="form-group">
                            <label for="full_name" id="full_name"> Full Name</label>
                            <input type="text" name="fullName" id="full_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="specialty" id="psw">spelcialty</label>
                            <input type="text" name="specialty" id="specialty" class="form-control" required>
                        </div>
                        <div class="btn-cont">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color: darkorange ; color: white;">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>