
<div class="col-12 col-md-3 col-lg-2 sidebar">

  <ul class="nav flex-column cont" style="color: black;">
    <li class="active">
      <a href="/doctors/dashbord" aria-current="page">Home</a>
    </li>
    <li>
      <a href="/doctor/profile/page">
        My Profile
      </a>
    </li>
    <li class="treated-pli">
      <a href="/doctors/treated/patient">Treated Patients</a>
    </li>
    <li class="appointment-li">
      <a href="#">Booked Appointment

      </a>
    </li>
    <li class="docreg doc-regspecialty">
      <a href="#" > Reg Specilalization</a>
    </li>
  </ul>
  </div>

