<aside class="sidebar">

    <div class="sidebar__user">
        <div class="sidebar__user-avatar">DR</div>
        <div>
            <div class="sidebar__user-name">Doctor Portal</div>
            <div class="sidebar__user-role">Medical Staff</div>
        </div>
    </div>

    <nav class="sidebar__nav">
        <ul>
            <li>
                <a href="/doctors/dashbord">
                    <i class="fa-solid fa-house"></i> Home
                </a>
            </li>
            <li>
                <a href="/doctor/profile/page">
                    <i class="fa-solid fa-user-doctor"></i> My Profile
                </a>
            </li>
            <li>
                <a href="/doctors/treated/patient">
                    <i class="fa-solid fa-bed-pulse"></i> Treated Patients
                </a>
            </li>
            <li>
                <a href="#" id="appointmentBtn">
                    <i class="fa-solid fa-calendar-check"></i> Booked Appointments
                </a>
            </li>
            <li>
                <a href="#" id="doctorFormBtn">
                    <i class="fa-solid fa-stethoscope"></i> Reg Specialization
                </a>
            </li>
        </ul>
    </nav>

</aside>
